/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'MADE-Soulmaze-Outline';
        src: local(''),
           url('/fonts/MADE-Soulmaze-Outline-Italic.otf') format('opentype');
    }

    @font-face {
        font-family: 'MADE-Soulmaze';
        src: local(''), url('/fonts/MADE-Soulmaze-Italic.otf') format('opentype');
    }
}

